// Define variables for your color scheme

// For example:
$bruyere-green: #00A878;
$bruyere-blue: #02A9EA;
$bruyere-dark: #292F36;
$bruyere-red: #FF5E5B;
$bruyere-light-blue: #EBFCFB;
$bruyere-light-grey: #b7cecc;
$bruyere-white: #fdfeff;