.location-header {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 13px;
  margin-bottom: 10px;
}

.plant-ownership-status {
  margin: 0px 15px;
  margin-top: 10px;
  display: flex;
  padding-top: 10px;
  border-top: 1px solid $bruyere-light-grey;
  justify-content: space-between;
}

.dropdown-location {
  margin-right: 10px;
  margin-left: 5px;
}

.location-header-logos {
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: space-between;
}

.noplant {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}