#interieures {
  background-image: image-url('plantes_interieures.jpg');
  height: 75vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#consommables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  margin-bottom: 30px;
  opacity: 0;
  position: relative;
  bottom: -20px;
  transition: all .8s ease;
}

.plant-category-card-big {
  height: 150px;  
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.plant-category-card {
  height: 100px;  
  width: 160px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#aromatiques {
  background-image: image-url('plantes_aromatiques.jpg');
}

#champignons {
  background-image: image-url('champignons.jpg');
}

#verger {
  background-image: image-url('verger.jpg');
}

#potager {
  background-image: image-url('potager.jpg');
}

#arbres {
  background-image: image-url('arbres.jpg');
}

#fleurs {
  background-image: image-url('fleurs.png');
}

#bassin {
  background-image: image-url('bassin.jpg');
}

#haies {
  background-image: image-url('haies.jpg');
}

#palmiers {
  background-image: image-url('palmiers.jpeg');
}

#sauvages {
  background-image: image-url('sauvages.jpg');
}

#orchidées {
  background-image: image-url('orchidees.jpg');
}

#cactus {
  background-image: image-url('cactus.jpg');
}

.plant-description {
  text-align: right;
}

#incontournables, #alocasia-sanderiana, #ficus, #philodendron {
  position: relative;
  top: -15px;
  transition: all .5s ease;
}