#plant-name {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 145px;
  text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.8);
  z-index: 5;
  height: 90px;
  overflow: hidden;
}

.category-title {
  margin-bottom: 10px;
}

.plant-header {
  display: flex;
  margin: 15px;
  margin-bottom: 0px;
}

.plant-stats {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.plant-content {
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: $bruyere-light-blue;
  padding: 20px;
  border-top-right-radius: 50px;
}
