<div class="bottombar">

  <%= link_to root_path do %>
    <div class= "bottombar-link" id="encyclopédie-button">
      <i class="fas fa-seedling"></i>
      <div class="bottom-bar-text">Encyclopédie</div>
    </div>
  <% end %>

  <%= link_to locations_path do %>
    <div class= "bottombar-link" id="maison-button">
      <i class="fas fa-chair"></i>
      <div class="bottom-bar-text">Maison</div>
    </div>
  <% end %>

  <%= link_to calendar_path do %>
    <div class= "bottombar-link" id="calendrier-button">
      <i class="far fa-calendar"></i>
      <div class="bottom-bar-text">Calendrier</div>
    </div>
  <% end %>

</div>
