<div class="bottombar">

  <%= link_to root_path do %>
    <div class= "bottombar-link">
      <i class="fas fa-seedling"></i>
      <%# <div class="greytext bottom-bar-text"></div> %>
    </div>
  <% end %>

  <%= link_to locations_path do %>
    <div class= "bottombar-link">
      <i class="fas fa-chair"></i>
      <%# <div class="greytext bottom-bar-text"></div> %>
    </div>
  <% end %>

  <%= link_to calendar_path do %>
    <div class= "bottombar-link">
      <i class="far fa-calendar"></i>
      <%# <div class="greytext bottom-bar-text"></div> %>
    </div>
  <% end %>

</div>
