a {
  color: $bruyere-dark;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  margin-bottom: 10px;
  &:active {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.button {
  border: none;
  transition: all 0.3s ease;
  border-radius: 10px;
  background-color: $bruyere-blue;
  padding: 5px 15px;
  font-weight: 500;
  color: $bruyere-white;
  
  &:active {
    color: $bruyere-dark;
    background-color: $bruyere-light-blue;
  }
  &:hover {
    color: $bruyere-dark;
    background-color: $bruyere-light-blue;
  }
}

.buttonred {
  background-color: $bruyere-red;
}

#add-location {
  width: fit-content;
  float: right;
  margin: 10px;
}

.add-plant {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  padding: 2px 10px;
}

.small-button-circle {
  border-radius: 50%;
  margin: 0px;
  height: 30px;
  width: 30px;
  padding: 0px;
  .fas, .far {
    height: 30px;
    width: 30px;
    position: relative;
    top: 3px;
  }
}

.scrolldown, .location-modify {
  position: sticky;
  top: 93%;
  z-index: 8;
  background-color: $bruyere-green;
  text-align: center;
  left: 45%;
  color: $bruyere-white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
  transition: all .5s ease;
  &:active {
    color: $bruyere-dark;
    background-color: $bruyere-light-blue;
  }
  &:hover {
    color: $bruyere-dark;
    background-color: $bruyere-light-blue;
  }
}

.location-modify {
  background-color: $bruyere-blue;
}

#session-button {
  background-color: $bruyere-white;
  color: $bruyere-blue;
  margin: 10px;
}
