.carousel {
  overflow-x: auto;
  overflow-x: auto;
  height: 120px;
  border-top: 1px solid $bruyere-light-grey;
  margin-left: 5px;
  margin-right: 5px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel-container {
  width: fit-content;
  display: flex;
  padding: 0;
  margin: 0;
}

.sortable li {
  cursor: grab;
  list-style-type: none;
}

.sortable li:active {
  cursor: grabbing;
}

.sortable li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}