.form-control {
  border-radius: 50px;
  height: 30px;
  border: 1px solid $bruyere-light-grey;
}

.form {
  padding: 10px;
  margin: 20px;
}

#add-plant {
  padding-bottom: 30px;
  margin-bottom: 0;
  z-index: 9;
}
.select2-container--default .select2-selection--single {
  border-radius: 50px;
  height: 30px;
  border: 1px solid $bruyere-light-grey;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $bruyere-blue;
}

legend {
  display: none;
}

.form-check-label {
  font-size: 15px;
}