.plant-image-small {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100px;
  width: 155px;
  object-fit: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))
}