.plant-image {
  border-radius: 10px;
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin: 0px 10px;
}

.plant-image-small {
  border-radius: 10px;
  height: 100px;
  width: 155px;
  object-fit: cover;
  filter: brightness(80%);
}