.search-bar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  margin-bottom: 20px;
  border-radius: 50px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.08);
  padding: 5px;
  background-color: white;
  align-items: center;
  font-size: 15px;
  position: sticky;
  z-index: 8;
}

.search-bar-item {
  width: 100%;
  border-style: none;
  outline: none;
}

.search-bar-select {
  align-self: center;
  margin: 0px 10px;
  border-bottom: 1px solid #e6e6e6;
  select {
    border-style: none;
  }
}