.darktitle {
  color: $bruyere-dark;
  font-size: 18px;
}

.whiteboldtext {
  color: $bruyere-white;
  font-size: 15px;
  font-weight: bold;
}

.whitelighttext {
  color: $bruyere-white;
  font-size: 15px;
  font-weight: lighter;
}